<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>LOVE AT FIRST SIGHT</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body class="home-page">
<!-- HERO SECTION -->
<section class="hero">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <p class="hero-label">A MORGAN FRAMES NOVEL</p>
        <h1>LOVE AT FIRST SIGHT</h1>
        <div class="hero-line">─── ❖ ── ❀ ── ❖ ───</div>
        <p class="hero-tagline">Sometimes one moment is all it takes to change everything.</p>
        <a href="/disclaimer" class="hero-button">
    Begin Reading
</a>
    </div>
</section>

<!-- STORY INTRODUCTION -->
<section class="story-intro">
    <p class="section-label">THE STORY</p>
    <h2>A moment they never expected.</h2>
    <p class="intro-text">
        Kevin had just begun a
new chapter of his life at
        Kisubi High School. He had
no idea that an ordinary
        Thursday evening would
introduce him to someone who
        would become an
unforgettable part of his story.
    </p>
</section>

<!--CHAPTERS -->
<section class="chapters">
    <p class="section-label">THE NOVEL</p>
    <h2>Chapters</h2>
    <div class="chapter-list">
        <div class="chapter-card">
            <span>01</span>
            <div>
                <p>CHAPTER ONE</p>
                <h3>The First Look</h3>
            </div>
            <a href="/chapter1">Read</a>
        </div>
        <div class="chapter-card">
            <span>02</span>
            <div>
                <p>CHAPTER TWO</p>
                <h3>The Morning After</h3>
            </div>
            <a href="/chapter2">Read</a>
        </div>
        <div class="chapter-card">
            <span>03</span>
            <div>
                <p>CHAPTER THREE</p>
                <h3>The Dance Evening</h3>
            </div>
            <a href="/chapter3" >Read</a>
        </div>
       <div class="chapter-card">
            <span>04</span>
            <div>
                <p>CHAPTER FOUR</p>
                <h3>After The Dance Evening</h3>
            </div>
            <a href="/chapter4" >Read</a>
        </div>
        <div class="chapter-card">
        <div>
             <p>LESSON</p>
             <h3>Lesson To Learn</h3>
        </div>
          <a href="/lesson">Read</a>
    </div>
    </div>
</section>
<!-- AUTHOR -->
<section class="author-section">
    <div class="author-line"></div>
    <p class="section-label">THE AUTHOR</p>
    <h2>MORGAN FRAMES</h2>
    <p>
        Written from a story
inspired by moments,
        memories and the
unexpected ways people
        can enter our lives.
    </p>
    <div class="author-symbol">𓅭 ♡ 𓅭</div>
</section>

<!-- FOOTER -->
<footer>
    <p>LOVE AT FIRST SIGHT</p>
    <span>© MORGAN FRAMES</span>
</footer>
</body>
</html>